:root {
    --primary-color: #6B8E68;  
    --secondary-color: #F1F1EB;  
    --accent-color: #4C5E4D;  
    --background-color: #E6EAE2;  
    --text-color: #2D2D2D; 
    --dark-color: #3E4C47;  
    --light-color: #F4F6F4;  
    --white: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.2); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background-color);  
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    color: var(--white);
    background-color: var(--dark-color);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.navbar .logo {
    width: 90px;
    height: auto;
    display: block;
    margin-right: 2rem;
}

.navbar {
    background-color: var(--dark-color);
    color: var(--white);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
    padding-right: 3rem;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.hamburger {
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    z-index: 100;
}

.hero {
    background: linear-gradient(to bottom, var(--dark-color), var(--primary-color));  
    color: var(--white);
    padding: 4rem 1rem;
    text-align: center;
    box-shadow: 0px 4px 6px var(--shadow-color);  
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero .btn {
    margin-top: 1.5rem;
}

.projects {
    padding: 4rem 1rem;
    background-color: var(--light-color);  
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    gap: 2rem;
    justify-items: center;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--shadow-color);
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px var(--shadow-color);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid var(--primary-color);
}

.card-content {
    padding: 1.5rem;
    text-align: left;
}

.card-content h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: var(--dark-color);
}

.card-category {
    font-size: 1rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.card-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card-links .btn {
    padding: 0.5rem 1.5rem;
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: var(--primary-color) 0.3s ease;
}

.card-links .btn-link {
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-color);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: var(--primary-color) 0.3s ease;
}

.card-links .btn:hover {
    background-color: var(--accent-color);
}

.card-links .btn-learn {
    background-color: var(--secondary-color);
}

.about {
    padding: 4rem 1rem;
    background-color: var(--light-color);
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    align-items: center;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--dark-color);
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.about-text strong {
    color: var(--primary-color);
}

.about-image img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 4px 12px var(--shadow-color);
}

.contact {
    padding: 4rem 1rem;
    background-color: var(--white);
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--dark-color);
    margin-bottom: 2rem;
}

.contact a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: var(--accent-color);
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-links .btn {
    padding: 0.8rem 1.5rem;
    background-color: var( --accent-color);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 12px var(--shadow-color);
}

.contact-links .btn:hover {
    background-color: var(--primary-color);
    transform: translateY(-4px);
}


.footer {
    padding: 2rem 1rem;
    background-color: var(--dark-color);
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 -4px 12px var(--shadow-color);
}

.footer p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--light-color);
}

.footer .social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer .social-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer .social-links a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer .social-links a:hover {
    transform: scale(1.2);
    opacity: 0.8;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        display: none; 
    }

    .nav-links.show {
        display: flex;
    }

    .navbar .logo {
        margin: 0;
        margin-bottom: 1rem;
        align-self: center;
    }

    .hamburger {
        display: block;
        font-size: 36px;
    }

    .project-cards {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card {
        max-width: 90%;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .about-content {
        grid-template-columns: 1fr 1fr; 
    }
}
